﻿@{
    ViewBag.Title = "Your next Bus";
}


<div class="jumbotron">
    <div class="col-xs-12">
        <div id="keisan" style="display: none;">@ViewBag.keisan</div>


        <h2><span class="label label-success">現在時刻 : @ViewBag.Current_time </span></h2>
        <h3><span class="label label-default">ルート : @ViewBag.route</span></h3>
        <h3><span class="label label-success"> @ViewBag.NextBus</span></h3>
        <h3><span class="label label-success"> @ViewBag.Next2Bus</span></h3>

    </div>

    <div class="row">
        <div id="clockdiv">
            <div class="col-xs-3">
                <span class="days"></span>
                <div class="smalltext">Days</div>
            </div>
            <div class="col-xs-3">
                <span class="hours"></span>
                <div class="smalltext">Hours</div>
            </div>
            <div class="col-xs-3">
                <span class="minutes"></span>
                <div class="smalltext">Minutes</div>
            </div>
            <div class="col-xs-3">
                <span class="seconds"></span>
                <div class="smalltext">Seconds</div>
            </div>
        </div>
        @*<script src="/static/js/index.js"></script>*@

    </div>
</div>
